* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(232, 244, 130);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 30px;
}

h1 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 15px;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

.first {
    color: #ec0e0e;
}

.second {
    color: #4e4ee9;
}

#your-name {
    background-color: aqua;
    border: 5px solid #e94eda;
    width: 400px;
    padding: 20px;
    margin-top: 20px;
}

input, button {
    padding: 10px;
    font-size: 15px;
}

a {
    background-color: gold;
}

#your-name h2 {
    color: olivedrab;
}

#course-image {
    width: 300px;
}